/* color vars: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* purple brand color: https://coolors.co/palette/dec9e9-dac3e8-d2b7e5-c19ee0-b185db-a06cd5-9163cb-815ac0-7251b5-6247aa */

/* Color Base */
:root {
  --vp-c-purple-1: #db5ca6;
  --vp-c-purple-2: #a82ffc;
  --vp-c-purple-3: #7c4dff;

  /* 设置字体颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );

  /* 设置右图像渐变 */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #8e99ee 50%,
    #ffffff 50%
  );
  --vp-home-hero-image-filter: blur(150px);
}

/* Color Theme */
:root {
  --vp-c-brand-1: var(--vp-c-purple-1);
  --vp-c-brand-2: var(--vp-c-purple-2);
  --vp-c-brand-3: var(--vp-c-purple-3);
}

/* text Theme */
.vp-doc h2 {
  font-size: 28px;
  margin-bottom: 48px;
}
